/* Remove default uppercase headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none;
}

/* 20180719 AL - Style  call to action buttons */
.button-secondary,
input[type="submit"] {
	background: #EC407A;
	color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  width: auto;
}

/* 20171031 - AL: Add colored boxes & buttons */
button-red {
  background-color: #EC407A;
  border: 1px solid #EC407A;
  color: #fff;
  padding: 10px 20px;
  font-family: Raleway, "Montserrat Alternates", Arial, Helvetica, sans-serif;
}

/* 20171114 - AL: Added Call to action buttons */
input.cta-button {
  background-color: #009688;
  border: 1px solid #009688;
  border-radius: 0px;
  color: #fff;
  padding: 10px 20px;
  font-family: Raleway, "Montserrat Alternates", Arial, Helvetica, sans-serif;
}

input.cta-button:hover {
  background-color: #B2DFDB;
}

a.cta-button {
  background-color: #009688;
  border: 1px solid #009688;
  border-radius: 0px;
  color: #fff !important;
  padding: 10px 20px;
  font-family: Raleway, "Montserrat Alternates", Arial, Helvetica, sans-serif;
}

a.cta-button:hover {
  background-color: #B2DFDB;
}

/*--- Contact Form 7 ---*/

/* 20171019 - AL: Contact Form 7 Styles */
input.wpcf7-form-control.wpcf7-submit {
  background: #009688;
  border: #009688;
  color: #ffffff;
  font-family: Raleway, "Montserrat Alternates", Arial, Helvetica, sans-serif;

}

/* 20180115 - AL: Contact Form 7 input text color */
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
    background-color: #fff;
    color: #263238;
}

/*--- WP Ultimate Post Grid ---*/

/* 20171019 - AL: WP Ultimate Post Grid search bar */
.wpupg-container {
  border-color: #ddd;
}

/* Featured Page and Featured Post
--------------------------------------------- */

.featured-content .entry {
	padding: 0;
}


/* 20171019 - AL: front page reduce post title font size for non-full width widgets BROKEN */
div.home-bottom > .entry-title > h2 > a {
  font-size: 1em;
}

/* 20171018 - AL: front page styling  */
.home-top .widgettitle {
  font-size: larger;
  font-family: Raleway;
}

/* 20171019 - AL: front page widget "Gimme more..." button font  */
p.more-from-category > a {
  font-family: Raleway;
  padding: 10px 20px;
}

.header-image .site-title a {
	width: 100%;
}


/* 20191010 - AR: Nav bar dotted border */
.genesis-nav-menu {
	border-top-style: dashed;
	border-bottom-style: dashed;
}


/* 20171019 - AL: Nav Search bar styling */
#foodie-search {
  font-family: "Montserrat Alternates";
  vertical-align: middle;
}
.search-form {
  font-family: "Montserrat Alternates";
}
.search-form input {
  width: 8em;
}

/* 20171018 - AL: button, style white text  */
.entry-content a.more-link {
  color: #fff;
  font-family: Raleway, "Montserrat Alternates", Arial, Helvetica, sans-serif;
}


/* 20180205 - AL: start here button, style white text
   20200319 - AR: updated to no underline   */
a.more-link.start-here {
  color: #fff;
  font-family: Raleway, "Montserrat Alternates", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* 20171114 - AL: Comment submit button */
.comment-respond input#submit {
border: none;
border-radius: 0px;
}

/* 20171019 - AL: Material Design Icons https://materialdesignicons.com/bootstrap  */
.mdi::before {
    font-size: 1em;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 1em;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 1em;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

/*
2018-05-29 AL: Contextual Related Posts Plug In
Styling for how the related posts appear on website
----------------------------------------------------------------------------- */
.crp_related {
	clear: both;
	margin: 2em 0;
	border-top-style: dotted;
	border-top-color: #CFD8DC;
	padding-top: 2em;
}

.crp_related ul {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
  display: table;
}

.crp_related li, .crp_related a {
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.crp_related li {
	vertical-align: bottom;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.crp_related li:hover {
	background: #B2DFDB;
	border-color: #B2DFDB;
}
.crp_related a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}
.crp_related a:hover {
	text-decoration: none;
}
.crp_related .crp_title {
	position: absolute;
	display: block;
	bottom: 0;
	padding: 3px;
	color: #fff;
	font-size: 1em;
	text-shadow: 1000 .1em .1em .2em;
	background: rgb(77, 77, 78, .5);
	background: rgba(77, 77, 78, 0.5);
}
.crp_related li:hover .crp_title {
	background: rgb(0.2, 0.2, 0.2);
	background: rgba(0, 0, 0, 0.8);
}

.crp_clear {
	clear: both;
}
.crp_title:visited {
	color: #fff;
}

/* 20190922 - AR - Pricing Table
   (for Garlic Delight Meal Plan System)
   https://riotcustoms.com/how-to-create-pricing-tables/
--------------------------------------------- */
.pricing-table {
    color: #fff;
}

.pricing-table h3 {
    text-align: center;
}

.pricing-table ul li {
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.pricing-table b {
    text-align: center;
}

.pricing-table .one-half {
    background-color: #B2DFDB;
    padding: 20px;
    border: 1px;
}

.pricing-table .one-half:nth-child(2n+1) {
    margin: 0 auto;
}

.pricing-table .one-half:nth-child(2n+2) {
    margin: 0;
    background-color: #F06292;
}

.pricing-table .button:hover {
    background: #fff;
}

.pricing-table input[type="image"] {
    border: 0px none;
    padding: 0px;
    width: 200px;
}

@media only screen and (max-width: 800px){
    .pricing-table .one-third:nth-child(2n+2) {
	margin: 0;
    padding-top: 10px;
    }
}

/* 2020-02-17 AR - Table Styling
 * https://carriedils.com/add-bootstrap-table-styles-theme/
 */
.wp-block-table.is-style-stripes td, .wp-block-table.is-style-stripes th {
  border: 1px solid #ECEFF1;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #ECEFF1;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ECEFF1;
}
