.rtl .wprm-recipe-container .wprm-recipe-tastefully-simple,
.rtl .wprm-print .wprm-recipe-tastefully-simple {
	.wprm-recipe-image-container {
		float: left;
		text-align: left;

		.wprm-recipe-image {
			margin-left: 0;
			margin-right: 0;
		}
	}


	.wprm-recipe-time-container {
		float: right;
		font-size: 1.3em;
	}

	.wprm-recipe-time-header {
		font-size: 0.9em;
	}


	input.wprm-recipe-servings {
	    font-size: 1.2em;
	}


	.wprm-clear-left {
		clear: right;
	}

	.wprm-recipe-time-container {
		border-left: none;
		border-right: 1px solid #eee;

		&:first-child {
			border-right: none;
		}
	}

	.wprm-recipe-ingredients {
		li {
			margin-left: 0;
			margin-right: 10px;
		}
	}

	.wprm-recipe-instructions {
		li {
			margin-left: 0;
			margin-right: 30px;
		}
	}

	.wprm-recipe-notes-container {
		ul li {
			margin-left: 0;
			margin-right: 10px;
		}
		ol li {
			margin-left: 0;
			margin-right: 30px;
		}
	}


	.wprm-nutrition-label {
		text-align: left;
		border: 1px solid #ccc;
	}
}

.wprm-recipe-container .wprm-recipe-tastefully-simple,
.wprm-print .wprm-recipe-tastefully-simple {
	font: 12px "Handlee", Raleway, Verdana, Arial, Geneva, sans-serif;
	border: none;
	padding: 10px;

	p, li {
		font-family: Raleway, Verdana, Arial, Geneva, sans-serif;
		font-size: 1.3em;
		margin-top: 1px;
		margin-bottom: 2px;
		font-weight: 300;
	    letter-spacing: 0.5px;
    	line-height: 1.8em;

	}

	div,
	li,
	ol,
	p,
	span,
	ul {
		margin: 0;
		padding: 0;
		line-height: inherit;
	}

	*:before, *:after {
		display: none;
	}

	svg {
		vertical-align: middle;
		width: 16px;
		height: 16px;
		margin: 0;
	}

	.wprm-clear-left {
		clear: left;
		line-height: 0;
		height: 0;
	}

	a.wprm-timer-link {
	    display: inline-block;
	    margin: 0 5px;
	    padding: 5px 10px;
	    background-color: #81ae40;
	    color: #fff;
	    font-family: "Handlee";

    }
    
    .wprm-recipe-print {
		font-size: 2em;
		cursor: pointer;
		padding: 0.5em 1em;
		text-align: center;
		background-color: #81ae40;
		color: #fff;
		display: inline-block;
		font-family: "Handlee";
		margin-top: 1em;
	}

	.wprm-recipe-image-container {
		float: center;
		text-align: center;

		.wprm-recipe-rating {
			margin-bottom: 5px;

			.wprm-recipe-rating-details {
				font: 16px "Handlee", Raleway, Verdana, Arial, Helvetica,sans-serif;
			}
		}

		.wprm-recipe-image {
			margin-left: 0px;
		}

		.wprm-recipe-buttons {
			margin-top: 10px;
			text-align: center;

			.wprm-recipe-print {
				font-size: 2em;
				cursor: pointer;
				padding: 0.5em 1em;
				text-align: center;
				background-color: #81ae40;
	    		color: #fff;
	    		display: inline-block;
	    		font-family: "Handlee";
	    		margin-top: 1em;
			}
		}
	}

	.wprm-recipe-name {
		display: none;
	}

	.wprm-recipe-times-container {
		border-top: 1px dotted #eee;
		border-bottom: 1px dotted #eee;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}

	.wprm-recipe-time-container {
		width: 33%;
		text-align: center;
		float: left;
		font-weight: bold;
		border-left: 1px solid #eee;

		&:first-child {
			border-left: none;
		}

		.wprm-recipe-time-header {
			margin-bottom: 4px;
			word-break: break-all;
		}

		.wprm-recipe-time {
			font-size: 1.5em;
			font-weight: normal;
		}
	}

	.wprm-recipe-summary {
	    margin-top: 2em;
		margin-bottom: 2em;

		p {
			margin-bottom: 2em;
		}
	}

	.wprm-recipe-details-container,
	.wprm-recipe-ingredients-container {
		margin-bottom: 10px;
		font-size: 1.5em;
	}

	.wprm-recipe-header {
		font-size: 2.3em;
		font-weight: 700;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.wprm-recipe-group-name {
		margin-top: 3px;
		margin-bottom: 3px;
		font-weight: 700;
		font-size: 1.5em;
	}

	.wprm-recipe-ingredients {
		li {
			list-style-position: inside;
			margin-left: 10px;
			line-height: inherit;
			background: 0 0;
		}
	}

	.wprm-unit-conversion-container {
		margin-top: 10px;
	}

	.wprm-recipe-instructions {
		li {
			margin-left: 30px;
			margin-top: 1em;
			margin-bottom: 1em;
			line-height: inherit;
			background: 0 0;
		}
	}

	.wprm-recipe-notes-container {
		ul li {
			list-style: disc inside;
			margin-left: 10px;
		}
		ol li {
			list-style: decimal;
			margin-left: 30px;
		}
	}

	.wprm-nutrition-label {
		text-align: left;
		border: 1px solid #ccc;
	}
}

@media only screen and (max-width: 480px) {
	.wprm-recipe-container .wprm-recipe-tastefully-simple,
	.rtl .wprm-recipe-container .wprm-recipe-tastefully-simple {
		.wprm-recipe-image-container {
			float: none;
			width: 100%;
			max-width: none;
			text-align: center;
			margin-bottom: 10px;

			.wprm-recipe-image {
				margin-left: 0;
				margin-right: 0;
			}
		}
		.wprm-recipe-times-container {
			width: 100%;
		}

		p {
			margin-bottom: 1em;
			margin-top: 1em;
		}
	}
}
